@inherits BaseLayout
<div class="main-area">
    <div class="login-container">
        <div class="login-container-header">
            <i class="fa-light fa-shield-keyhole"></i>
            <div>DBI-iD</div>

        </div>
        <div class="login-container-body">

            @Body
            
        </div>

    </div>
</div>