
@using DBI.DIGI.Components.Navigation


<Nav>
    <TopContent>
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Home" IconClass="fa-light fa-building-magnifying-glass" Text="Home" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Login.Base" IconClass="fa-light fa-building-magnifying-glass" Text="Counter" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Weather" IconClass="fa-light fa-building-magnifying-glass" Text="Weather" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.User.Create" IconClass="fa-light fa-building-magnifying-glass" Text="Opret user" />

    </TopContent>


</Nav>


@code {

}