
@using DBI.DIGI.Components.Navigation


<Nav>
    <TopContent>
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Home" IconClass="fa-light fa-building-magnifying-glass" Text="Home" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.User.List" IconClass="fa-light fa-users" Text="Brugere" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Companies.List" IconClass="fa-light fa-buildings" Text="Virksomheder" />
        <DBI.DIGI.Components.Navigation.NavItemSingle Param="@RoutePaths.Applications.List" IconClass="fa-light fa-rectangle-terminal" Text="Applickationer" />

    </TopContent>


</Nav>


@code {

}