
@using DBI.DIGI.Components.Atoms.InputAtoms
@using DBI.DIGI.Components.Toast
@using DBIID.API.Client.Extensions
@using DBIID.API.Client.Layout
@using DBIID.Shared.Dtos
@using Microsoft.AspNetCore.Components.WebAssembly;
@inject HttpClient Http
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager


<label>E-mail</label>
<TextInput @bind-Input="email" />

<label>Adgangskode</label>
<TextInput @bind-Input="password" />

<DBI.DIGI.Components.Button Class="DBI.DIGI.Components.ButtonType.Prim" Size="DBI.DIGI.Components.ButtonSize.FullWidth" OnClick="OnLogin" Title="Log ind"></DBI.DIGI.Components.Button>


@code {
    private string email = "jdp@brandogsikring.dk";
    private string password = "test";

    [Parameter] public EventCallback<LoginResult> OnLoginResult { get; set; }

    private async Task OnLogin()
    {
        var response = await Http.PostAsJsonAsync("api/auth/login", new { Email = email, Password = password });
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadFromJsonAsync<LoginResult>();
            await OnLoginResult.InvokeAsync(json);
        }

    }
}