@using DBIID.API.Client.Layout
@using DBIID.Shared.Features.Login

@if (loginResponse == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var type in loginResponse.Types)
    {
        if (type.Type == "EMAIL")
        {
            <div class="mfa-type" @onclick="() => onSelect(type)">
                <i class="fa-light fa-envelope"></i>
                <div class="mfa-type-title">
                    <div>
                        Send kode på e-mail
                    </div>
                    <div>
                        @type.Value
                        @if (!string.IsNullOrWhiteSpace(type.Description))
                        {
                            <div>(@type.Description)</div>
                        }
                    </div>
                </div>
            </div>
        }

        @if (type.Type == "PHONE")
        {
            <div class="mfa-type">
                <i class="fa-light fa-comment-sms"></i>
                <div class="mfa-type-title">
                    <div>
                        Send kode på SMS
                    </div>
                    <div>
                        @type.Value
                        @if (!string.IsNullOrWhiteSpace(type.Description))
                        {
                            <div>(@type.Description)</div>
                        }
                    </div>
                </div>
            </div>
        }
    }
}



@code {
    [Parameter]
    public LoginResponse loginResponse { get; set; }

    [Parameter]
    public EventCallback<ContactMethodDto> OnSelectContactMedtod { get; set; } 

    private async void onSelect(ContactMethodDto type)
    {
        await OnSelectContactMedtod.InvokeAsync(type);
    }
}