
@using DBI.DIGI.Components.Atoms.InputAtoms
@using DBI.DIGI.Components.Toast
@using DBIID.API.Client.Extensions
@using DBIID.API.Client.Layout
@using DBIID.Shared.Features.Login
@using Microsoft.AspNetCore.Components.WebAssembly;
@inject HttpClient Http
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject NavigationManager navigationManager


@if (!string.IsNullOrWhiteSpace(ValidationError))
{
    <p style="color:red">@ValidationError</p>
}

<label>E-mail</label>
<TextInput @bind-Input="Email" />

<label>Adgangskode</label>
<TextInput @bind-Input="Password" />

<DBI.DIGI.Components.Button Class="DBI.DIGI.Components.ButtonType.Prim" Size="DBI.DIGI.Components.ButtonSize.FullWidth" OnClick="onLogin" Title="Log ind"></DBI.DIGI.Components.Button>


@code {
    public string Email { get; set; } = "jdp@brandogsikring.dk";
    
    public string Password { get; set; } = "test";

    public string ValidationError { get; set; }

    [Parameter]
    public required Func<string, string, Task<string>> OnLogin { get; set; }


    private async Task onLogin()
    {
        ValidationError = await OnLogin.Invoke(Email, Password);
        StateHasChanged();
    }
}