@page "/"
@using DBIID.Application.Shared.Dtos
@using DBIID.Shared.Features.Users


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@errorMessage

@if (users == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var item in users)
    {
        <p>@item.Id - @item.GivenName - @item.FamilyName</p>
    }
}

@code {
    [Inject]
    private IApiRequestService apiRequestService { get; set; }

    private List<UserDto> users;

    private string errorMessage = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {

                var response = await apiRequestService.SendAsync(new GetAllUserQuery());
                if (response.IsSuccess)
                    users = response.Value.ToList();
                else
                    errorMessage = response.Message;


            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            StateHasChanged();

        }
    }

    override protected async Task OnInitializedAsync()
    {

    }

}